/*Style changes for HTML*/

/*Background for items*/
.searchMethods{
background-color: cyan;
padding: 30px;
right: 50px;
display: flex;
border: 1px solid;
}

#searchMethods{
    display: flex;
}

/*Title edits*/
.title{
    font-size: 48px;
    color: blue;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

body{
    background-color: gray;
}


.searchBar{
    background-color: white;
    display: flex;
}

.sortBar{
    background-color: white;
    right: 40px;
    display: flex;
}



#heroView{
    font-size: 16px;
    height: 1000px;
    border: 1px solid;
    background-color: cadetblue;
    width: 100%
  }

#listView{
    font-size: 16px;
    height: 200px;
    border: 1px solid;
    background-color: cornflowerblue;
    display: flex;
  }


.clicker{
    display: inline-flex;
    background-color: cyan;
    border: 1px solid;
}  

#creator{
    background-color: blue;
    color: white;
    border: 1px solid;
}

#subtitles{
    display: flex;
}

.subtitle{
    margin-right: 200px;
}

#publisherButton{
    background-color: blue;
    color: white;
    border: 1px solid;
}

.centered-text {
    text-align: left;
}

.cellTitles{
    display: flex;
    gap: 30px; 
}

#LoginScreen{
    display: flex
}

#signUp{
    background-color: blue;
    color: white;
    border: 1px solid;
}

#logIn{
    background-color: blue;
    color: white;
    border: 1px solid;
}

#logOut{
    background-color: blue;
    color: white;
    border: 1px solid;
}
